**/.DS_Store
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Editor directories and files
.vscode
default_dev
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency directories (remove the comment below to include it)
kv_leveldb_test.db

# dot file
*.dot
*.dot.pdf
